@import "tailwindcss";

:root {
  font-family: "preconnect", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --custom-gray-900: #2A4144;
  --custom-gray-500: #86A2A5;
  --custom-green-600: #0C7D69;
  --custom-green-200: #E0F1E8;
  --custom-red: #D73C3C;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #E0F1E8;
}


